@import "tailwindcss";

@custom-variant content-editable (&:is([contenteditable="true"]));
@custom-variant content-not-editable (&:is([contenteditable="true"]));

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100svh;
  overflow: hidden;
}

.node-resizer-handle {
}

.react-flow__resize-control.react-flow__resize-control {
  --_size: 20px;
  --_offset: calc(var(--_size) / 2);
  --_line-size: 1px;
  &.line {
    border-color: var(--color-blue-500);
    &.top {
      border-top-width: 0;
      border-bottom-width: var(--_line-size);
      height: var(--_size);
      top: calc(-1 * var(--_offset));
    }
    &.bottom {
      border-bottom-width: 0;
      border-top-width: var(--_line-size);
      height: var(--_size);
      top: calc(100% + var(--_offset));
    }
    &.left {
      border-left-width: 0;
      border-width: none;
      border-right-width: var(--_line-size);
      width: var(--_size);
      left: calc(-1 * var(--_offset));
    }
    &.right {
      border-right-width: 0;
      border-left-width: var(--_line-size);
      width: var(--_size);
      left: calc(100% + var(--_offset));
    }
  }

  &.handle {
    width: 6px;
    height: 6px;
    background-color: var(--color-blue-500);
    &.top.left {
    }
    &.top.right {
    }
    &.bottom.left {
    }
    &.bottom.right {
    }
  }
}
