@import "tailwindcss";
@plugin "tailwindcss-react-aria-components";
@plugin "tailwindcss-animate";
@plugin "@tailwindcss/typography";

@custom-variant content-editable (&:is([contenteditable="true"]));
@custom-variant content-not-editable (&:is([contenteditable="true"]));

:root {
  font-family: var(--font-app);
  line-height: 1.5;
  font-weight: 400;
}

html,
body,
#root {
  height: 100svh;
  overflow: hidden;
}

.react-flow .react-flow__resize-control {
  --_size: 6px;
  --_offset: calc(var(--_size) / 2);
  --_line-size: 1px;
  &.line {
    border-color: var(--color-sky-500);
    &.top {
      border-top-width: 0;
      border-bottom-width: var(--_line-size);
      height: var(--_size);
      top: calc(-1 * var(--_offset));
    }
    &.bottom {
      border-bottom-width: 0;
      border-top-width: var(--_line-size);
      height: var(--_size);
      top: calc(100% + var(--_offset));
    }
    &.left {
      border-left-width: 0;
      border-width: none;
      border-right-width: var(--_line-size);
      width: var(--_size);
      left: calc(-1 * var(--_offset));
    }
    &.right {
      border-right-width: 0;
      border-left-width: var(--_line-size);
      width: var(--_size);
      left: calc(100% + var(--_offset));
    }
  }
  &.handle {
    width: 6px;
    height: 6px;
    background-color: var(--color-white);
    border: 1px solid var(--color-sky-500);
    border-radius: 0;
    &.top.left {
    }
    &.top.right {
    }
    &.bottom.left {
    }
    &.bottom.right {
    }
  }
}

.react-flow {
  .handles {
    .react-flow__handle {
      &::before {
        content: "";
        display: block;
        width: 9px;
        aspect-ratio: 1;
        background-color: var(--color-white) !important;
        border: 1px solid var(--color-sky-500) !important;
        transform: translate(-50%, -50%);
        border-radius: 9999px !important;
        position: absolute;
        z-index: 1;
        pointer-events: all;
      }
      &.react-flow__handle-left {
        left: 2px;
        &::before {
          top: 50%;
          left: 50%;
          left: calc(50% - 3px);
        }
      }
      &.react-flow__handle-right {
        right: 2px;
        &::before {
          top: 50%;
          left: calc(50% + 2px);
        }
      }
      &.react-flow__handle-top {
        top: 2px;
        &::before {
          top: calc(50% - 3px);
          left: 50%;
        }
      }
      &.react-flow__handle-bottom {
        bottom: 2px;
        &::before {
          top: calc(50% + 2px);
          left: 50%;
        }
      }
    }
  }
  .react-flow__handle {
    --_size: 1px;
    --_min-size: calc(var(--_size) - 1px);
    border-radius: 0 !important;
    min-width: var(--_min-size) !important;
    min-height: var(--_min-size) !important;
    width: var(--_size) !important;
    height: var(--_size) !important;
    background-color: transparent !important;
    border: none !important;
    isolation: isolate;
  }
}

@theme {
  --font-app: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

.hide-handles {
  .react-flow__handle {
    display: none !important;
  }
}

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}
